doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Get_Winner

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

       section
        h1 Get_Winner
        ul
          li Herwin Hidayat
          li Zikri Wan Perala
          li Aldo Alex
        

      section
      
        <img src="images/aa.png">
        h2 Bergaul dan berinternet sehat

      section
        h2 Internet sehat?
        

      section
        <img src="images/i.jpg">
        h2 Penjahat Maya Lebih Kejam

      section
        h2 Cara Melakukan Internet Sehat
        ul
          li Hati-hati dengan Identitas
          li Jangan Terlalu Jujur
          li Ajak Orang Ketiga
          li Jangan Curhat di Internet
          li Hapus Kiriman Email Mencurigakan
          li Jangan Klik Link Mencurigakan
          li Jauhi Room Chat Provokatif

      section
        h2 Tip Internet Sehat dan Aman bagi Keluarga
        

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')