doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Get_Winner

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

       section
        h1 Get_Winner
        ul
          li Herwin Hidayat
          li Zikri Wan Perala
          li Aldo Alex
        

      section

        <img src="images/aa.png">
        h2 Bergaul dan berinternet sehat

      section
        <img src="images/1i1.png">
        br
        br
        br
        h2 Internet sehat?
        

      section
        <img src="images/i.jpg">
        h2 Penjahat Maya Lebih Kejam
        

      section
        h2 Cara Melakukan Internet Sehat
        ul
          li Hati-hati dengan Identitas
          li Jangan Terlalu Jujur
          li Ajak Orang Ketiga
          li Jangan Curhat di Internet
          li Hapus Kiriman Email Mencurigakan
          li Jangan Klik Link Mencurigakan
          li Jauhi Room Chat Provokatif

      section
        h2 Tip Internet Sehat dan Aman bagi Keluarga
        

      section(data-bespoke-hash='named-route')
        ul
        li gunakanlah internet secara bersama dengan anggota keluarga lainnya yang umurnya sudah menginjak dewasa atau remaja.
        li  Letakkan komputer yang akan digunakan untuk berinternet di ruang yang mudah diawasi
        li  Jika memungkinkan, buatlah jadwal atau pembatasan waktu pada anak-anak dalam memakai internet
        li Beri warning atau peringatan pada semua anggota keluarga 
        li Bersikap tegaslah pada siapa saja yang memakai internet di rumah Anda agar tidak member tahu alamat rumah atau sekolah, data keluarga dll.
      


    script(src='build/build.js')